<ng-content select="h1"></ng-content>

<hr>
<br>

<div *ngIf="nome != 'Matheus'">
    <h2>ngClass</h2>

    <p [ngClass]="{'active': valor, 'disabled': !valor}"> ngClass </p>

    <hr>
    <br>

    <h2>ngStyle</h2>

    <p [ngStyle]="{'height': heightPx, 'background': backgroundColor}"> ngStyle </p>
</div>

<hr>
<br>

<h2>ngModel</h2>

<input [(ngModel)]="nome">
<button (click)="save()">Salvar</button>

<li *ngFor="let item of list">{{item.nome}}</li>

<hr>
<br>

<h2>ngTemplate</h2>

<ng-template ngFor let-item [ngForOf]="list">
    <p>
        {{item.nome}}
    </p>
</ng-template>

<input [(ngModel)]="nome">
<button (click)="save()">Salvar</button>

<hr>
<br>

<h2>ngContent</h2>

<ng-content select="hr"></ng-content>

<hr>
<br>

<h2>Pipes</h2>

<input [(ngModel)]="nome">
<button (click)="save()">Salvar</button>

<li *ngFor="let item of list">{{item.nome | uppercase}}</li>

{{date | date: 'dd/MM/yyyy'}}